// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2020 Microchip Technology Inc */

/dts-v1/;

#include "microchip-mpfs.dtsi"

/* Clock frequency (in Hz) of the rtcclk */
#define RTCCLK_FREQ		1000000

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	model = "Microchip PolarFire-SoC Icicle Kit";
	compatible = "microchip,mpfs-icicle-kit";

       aliases {
               serial0 = &serial0;
               serial1 = &serial1;
               serial2 = &serial2;
               serial3 = &serial3;
       };

	chosen {
		stdout-path = "serial1:115200n8";
	};

	cpus {
		timebase-frequency = <RTCCLK_FREQ>;
	};

	DDRC_CACHE_LO: memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x2e000000>;
		clocks = <&clkcfg CLK_DDRC>;
		status = "okay";
	};
	DDRC_CACHE_HI: memory@1040000000 {
		device_type = "memory";
		reg = <0x10 0x00000000 0x0 0x40000000>;
		clocks = <&clkcfg CLK_DDRC>;
		status = "okay";
	};

	soc {
		corePWM0: corePWM@41000000 {
			compatible = "microchip,corepwm";
			mchp,mapped-outputs = /bits/ 16 <0xFFFF>;
			sync-update = <1>;
			clocks = <&clkcfg CLK_FIC3>;
			clock-names = "fic3";
			reg = <0x0 0x41000000 0x0 0xF0>;
		};
		
		fpgalsram: fpga_lsram@0x61000000 {
			compatible = "generic-uio";
			reg = < 0x0 0x61000000 0x0 0x00010000
					0x14 0x00000000 0x0 0x00010000 >;
			status = "okay";
		};

		dma: dma@0x60020000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "microchip,mpfs-fpga-dma-uio";
			reg = <0x00 0x60020000 0x0 0x1000>;
			interrupt-parent = <&plic>;
			interrupts = <120>;
			status = "okay";
		};

		pdma: pdma@3000000 {
			compatible = "microchip,mpfs-pdma-uio";
			reg = <0x0 0x3000000 0x0 0x8000>;
			interrupt-parent = <&plic>;
			interrupts = <5 6 7 8 9 10 11 12>;
			#dma-cells = <1>;
		};
	};
	reserved-memory {
		ranges;
		#size-cells = <2>;
		#address-cells = <2>;
		fabricbuf0: fabricbuf@0 {
			compatible = "shared-dma-pool";
			reg = <0x00 0xae000000 0x0 0x02000000>;
			label = "fabricbuf0-ddr-c";
		};
		fabricbuf1: fabricbuf@1 {
			compatible = "shared-dma-pool";
			reg = <0x00 0xc0000000 0x0 0x08000000>;
			label = "fabricbuf1-ddr-nc";
		};
		fabricbuf2: fabricbuf@2 {
			compatible = "shared-dma-pool";
			reg = <0x00 0xd8000000 0x0 0x08000000>;
			label = "fabricbuf2-ddr-nc-wcb";
		};
	};
	udmabuf@0 {
		compatible = "ikwzm,u-dma-buf";
		device-name = "udmabuf-ddr-c0";
		minor-number = <0>;
		size = <0x0 0x02000000>;
		memory-region = <&fabricbuf0>;
		sync-mode = <3>;
	}; 
	udmabuf@1 {
		compatible = "ikwzm,u-dma-buf";
		device-name = "udmabuf-ddr-nc0";
		minor-number = <1>;
		size = <0x0 0x08000000>;
		memory-region = <&fabricbuf1>;
		sync-mode = <3>;
	};
	udmabuf@2 {
		compatible = "ikwzm,u-dma-buf";
		device-name = "udmabuf-ddr-nc-wcb0";
		minor-number = <2>;
		size = <0x0 0x08000000>;
		memory-region = <&fabricbuf2>;
		sync-mode = <3>;
	};
};

&serial0 {
	status = "disabled"; /* Reserved for the HSS */
};

&serial1 {
	status = "okay";
};

&serial2 {
	status = "okay";
};

&serial3 {
	status = "okay";
};

&emmc {
	status = "okay";
};

&emac0 {
	phy-mode = "sgmii";
	phy-handle = <&phy0>;
	phy0: ethernet-phy@8 {
		reg = <8>;
		ti,fifo-depth = <0x01>;
	};
};

&emac1 {
	status = "okay";
	phy-mode = "sgmii";
	phy-handle = <&phy1>;
	phy1: ethernet-phy@9 {
		reg = <9>;
		ti,fifo-depth = <0x01>;
	};
};
