// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2020-2021 Microchip Technology Inc */

/ {
       compatible = "microchip,mpfs-disco-kit", "microchip,mpfs";

       fabric-bus@40000000 {
               compatible = "simple-bus";
               #address-cells = <2>;
               #size-cells = <2>;
               ranges = <0x0 0x40000000 0x0 0x40000000 0x0 0x20000000>, /* FIC3-FAB */
                        <0x0 0x60000000 0x0 0x60000000 0x0 0x20000000>, /* FIC0, LO */
                        <0x0 0xe0000000 0x0 0xe0000000 0x0 0x20000000>, /* FIC1, LO */
                        <0x20 0x0 0x20 0x0 0x10 0x0>, /* FIC0,HI */
                        <0x30 0x0 0x30 0x0 0x10 0x0>; /* FIC1,HI */
       };
};
