# SPDX-License-Identifier: GPL-2.0
config VIDEO_MCHP_DSCMI
	tristate "Microchip Digital Serial Camera Memory Interface Driver"
	depends on VIDEO_V4L2
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_FWNODE
	help
	  Microchip Digital Serial Camera Memory Interface Driver Support For Smart Embedded Vision Kit.
